
@{
    ViewBag.Title = "Advantages";
}



<div class="container">
    <div class="content-wrapper">
        <section class="advantages-wrapper">
            <h2 class="section-title wow fadeInDown">Our advantages</h2>
            <div class="css-tab text-center">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#experiance" aria-controls="experiance" role="tab" data-toggle="tab">Experiance</a></li>
                    <li><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
                    <li><a href="#capabilities" aria-controls="capabilities" role="tab" data-toggle="tab">Capabilities</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="experiance">
                        <div class="row">
                            <div class="col-sm-6 text-left experiance-tab-content wow fadeInLeft">
                                <h3>20 Years of Experience</h3>
                                <p>Seamlessly strategize empowered action items via adaptive web services. Competently leverage existing just in time mindshare and equity invested information. Holisticly expedite progressive e-markets with cross-platform deliverables. Dramatically orchestrate ethical intellectual capital rather than principle-centered functionalities. Distinctively innovate go forward paradigms with empowered internal or "organic" sources. Distinctively reinvent exceptional intellectual capital whereas client-centric web-readiness.</p>
                            </div><!--/.col-sm-6 -->
                            <div class="col-sm-6 text-left experiance-tab-content wow fadeInRight">
                                <h3>More than 50 Successful Projects</h3>
                                <p>Seamlessly strategize empowered action items via adaptive web services. Competently leverage existing just in time mindshare and equity invested information. Holisticly expedite progressive e-markets with cross-platform deliverables. Dramatically orchestrate ethical intellectual capital rather than principle-centered functionalities. Distinctively innovate go forward paradigms with empowered internal or "organic" sources. Distinctively reinvent exceptional intellectual capital whereas client-centric web-readiness.</p>
                            </div><!--/.col-sm-6 -->
                        </div><!-- /.row -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="skills">
                        <div class="our-skill">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="our-progress">
                                        <div class="chart" data-percent="73">
                                            <span class="percent">73</span>
                                        </div>
                                        <p>Lorem ipsum dolor consectetuer</p>
                                    </div><!-- /.our-progress -->
                                </div><!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="our-progress">
                                        <div class="chart" data-percent="80">
                                            <span class="percent">80</span>
                                        </div>
                                        <p>Lorem ipsum dolor consectetuer</p>
                                    </div><!-- /.our-progress -->
                                </div><!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="our-progress">
                                        <div class="chart" data-percent="90">
                                            <span class="percent">90</span>
                                        </div>
                                        <p>Lorem ipsum dolor consectetuer</p>
                                    </div><!-- /.our-progress -->
                                </div><!-- /.col-md-3 -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="our-progress">
                                        <div class="chart" data-percent="70">
                                            <span class="percent">70</span>
                                        </div>
                                        <p>Lorem ipsum dolor consectetuer</p>
                                    </div><!-- /.our-progress -->
                                </div><!-- /.col-md-3 -->
                            </div><!-- /.row -->
                        </div><!-- /.our-skill -->
                    </div><!--/#skills -->
                    <div role="tabpanel" class="tab-pane fade" id="capabilities">
                        <div class="row ">
                            <div class="col-md-6 col-xs-12 capability-tab-content">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="~/Content/img/tab-capa-1.jpg" alt="">
                                    </div>
                                    <div class="media-body text-left">
                                        <h3 class="media-heading">Building your business growth &amp; prosperity</h3>
                                        <p>Holisticly mesh granular bandwidth without seamless manufactured products. Monotonectally productize team building e-commerce before global bandwidth. Uniquely mesh resource sucking content and robust portals.</p>
                                    </div><!-- /.media-body -->
                                </div><!-- /.media -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 col-xs-12 capability-tab-content">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/tab-capa-2.jpg" alt="">
                                    </div>
                                    <div class="media-body text-left">
                                        <h3 class="media-heading">Building your business growth &amp; prosperity</h3>
                                        <p>Holisticly mesh granular bandwidth without seamless manufactured products. Monotonectally productize team building e-commerce before global bandwidth. Uniquely mesh resource sucking content and robust portals.</p>
                                    </div><!-- /.media-body -->
                                </div><!-- /.media -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.css-tab -->
        </section>
    </div><!-- /.content-wrapper -->
</div><!-- /.container -->