@{
    ViewBag.Title = "Contact";
}

        
        <section class="support-wrapper">
            <address>
                Md. Enamul Hoque Parvez<br />
                KalaBagan,Dhanmodni- Dhaka-1205<br />
                <abbr title="Mobile">Mob:</abbr>
                +88-01817009653
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:parvezfci@yahoo.com">For Support</a><br />
                <strong>Marketing:</strong> <a href="mailto:parvezfci@gmail.com">Any Kind Of Query</a>
            </address>
</section>
</div><!-- /.content-wrapper -->
</div>