@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="content-wrapper">
        <section class="intro-wrapper">
            <div class="row">
                <div class="col-lg-6 col-md-8">

                    <h2 class="wow fadeInDown">Welcome to Stock Management System</h2>
                    <p class="wow fadeInDown">Objectively enable leading-edge infrastructures whereas tactical imperatives. Enthusiastically disintermediate adaptive systems.</p>
                    <h3 class="wow fadeInDown">About Us</h3>
                    <p class="wow fadeInDown">
                        Assertively target turnkey technologies whereas covalent ROI. Distinctively grow viral mindshare rather than collaborative meta-services. Credibly initiate performance based internal or "organic" sources with <a href="#">performance based</a> infrastructures competently.
                    </p>
                    <h3 class="wow fadeInDown">Our Mission</h3>
                    <p class="wow fadeInDown">Assertively target turnkey technologies whereas covalent ROI. Distinctively grow viral mindshare rather than collaborative meta-services. Credibly initiate performance based internal or "organic" sources with performance based infrastructures. Competently.</p>
                    <a class="btn btn-primary wow fadeInDown" href="#" role="button">Read More</a>
                </div>
                <div class="col-lg-6 col-md-4"></div>
            </div><!-- /.row -->
        </section><!-- /.intro-wrapper -->





        <section class="support-wrapper">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1">
                    <h2 class="wow fadeInDown">We have 24/7 dedicated support team</h2>
                    <p class="wow fadeInDown">Proactively negotiate interdependent quality vectors for cross functional collaboration and idea-sharing. Dynamically myocardinate business quality vectors for web-enabled leadership. Synergistically simplify world-class alignments whereas extensible.</p>
                    <a class="btn btn-primary btn-lg wow fadeInDown" href="#">Get Instant Support</a>
                </div>
            </div>
        </section>
    </div><!-- /.content-wrapper -->
</div><!-- /.container -->
