
@{
    ViewBag.Title = "Project";
}



<div class="container">
    <div class="content-wrapper">
        <section class="handover-wrapper">
            <h2 class="section-title wow fadeInDown">Our Handover Project</h2>
            <div id="css-handover-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#css-handover-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#css-handover-carousel" data-slide-to="1"></li>
                    <li data-target="#css-handover-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6 wow fadeRight">
                                <div class="handover-work-thumb">
                                    <img src="~/Content/img/pr2.png" alt="">
                                </div><!-- /.client-thumb -->
                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6 col-md-pull-6 wow fadeInLeft">
                                <div class="handover-project">
                                    <h3>Proactively productivate e-business e-commerce</h3>
                                    <p>Efficiently communicate installed base leadership skills with extensible testing procedures. Enthusiastically evolve leading-edge scenarios.</p>
                                    <ul class="check-square">
                                        <li>Globally exploit interoperable infrastructures</li>
                                        <li>Collaboratively initiate customer directed manufactured</li>
                                        <li>Competently whiteboard backend information rather</li>
                                        <li>Efficiently empower next-generation sources</li>
                                        <li>Uniquely expedite sticky e-markets via orthogonal</li>
                                        <li>Professionally strategize orthogonal core competency</li>
                                    </ul>
                                    <a class="btn btn-primary" href="portfolio-single.html" role="button">Read More</a>
                                </div><!-- /.handover-project -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <div class="handover-work-thumb">
                                    <img src="~/Content/img/pr2.png" alt="">
                                </div><!-- /.client-thumb -->
                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6 col-md-pull-6">
                                <div class="handover-project">
                                    <h3>Proactively productivate e-business e-commerce</h3>
                                    <p>Efficiently communicate installed base leadership skills with extensible testing procedures. Enthusiastically evolve leading-edge scenarios.</p>
                                    <ul class="check-square">
                                        <li>Globally exploit interoperable infrastructures</li>
                                        <li>Collaboratively initiate customer directed manufactured</li>
                                        <li>Competently whiteboard backend information rather</li>
                                        <li>Efficiently empower next-generation sources</li>
                                        <li>Uniquely expedite sticky e-markets via orthogonal</li>
                                        <li>Professionally strategize orthogonal core competency</li>
                                    </ul>
                                    <a class="btn btn-primary" href="portfolio-single.html" role="button">Read More</a>
                                </div><!-- /.handover-project -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <div class="handover-work-thumb">
                                    <img src="~/Content/img/pr2.png" alt="">
                                </div><!-- /.client-thumb -->
                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6 col-md-pull-6">
                                <div class="handover-project">
                                    <h3>Proactively productivate e-business e-commerce</h3>
                                    <p>Efficiently communicate installed base leadership skills with extensible testing procedures. Enthusiastically evolve leading-edge scenarios.</p>
                                    <ul class="check-square">
                                        <li>Globally exploit interoperable infrastructures</li>
                                        <li>Collaboratively initiate customer directed manufactured</li>
                                        <li>Competently whiteboard backend information rather</li>
                                        <li>Efficiently empower next-generation sources</li>
                                        <li>Uniquely expedite sticky e-markets via orthogonal</li>
                                        <li>Professionally strategize orthogonal core competency</li>
                                    </ul>
                                    <a class="btn btn-primary" href="portfolio-single.html" role="button">Read More</a>
                                </div><!-- /.handover-project -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.item -->
                </div><!-- /.carousel-inner -->
            </div><!-- /.carousel -->
        </section>

    </div><!-- /.content-wrapper -->
</div><!-- /.container -->